.title-tokoh{
	color:black;
	font-weight: 900;
	font-style: oblique;
	font-family: sans-serif;
	text-align: center;
}
.circular--square {
	border-radius: 10%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
  }
  hr.onepixel {
    border-top: 1px solid #afbcc6;
    border-bottom: 1px solid #eff2f6;
    height: 0px;
    margin-bottom: 20px;
}
.text-detail{
	margin: auto;
	width: 50%;
	border: 3px  solid black;
	padding: 10px;
	text-align: justify;
	text-justify: inter-word;
}
.text-fakta{
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: justify;
	text-justify: inter-word;
}

.text-kutipan{
	margin: auto;
	text-align: center;
	font-style: italic;
	text-justify: inter-word;
}
a{
	text-align:center;
    display:block;
}